
body {
    background: url(../images/bg.png) top repeat-x;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    color: #333;
}

#wrap-background {
    background: url(../images/wrap-bg.png) left top repeat-x;
}

#wrap-foreground {
    background: url(../images/wrap-fg.png) right top repeat-x;
}


a:link, a:visited {
    color: #8BB324;
    text-decoration: none;
}

a:hover, a:active {
    color: #EFA118;
    text-decoration: underline;
}

::selection {
    background: #8BB324; 
	color: white; /* Safari */
}

::-moz-selection {
    background: #8BB324; 
	color: white; /* Firefox */ 
}

/* Header
 * --------------------------------------------------------------------- */
 
#hd {
    margin-bottom: 40px;
    height: 126px;
    position: relative;
}

#hd .leafage {
    background: url(../images/leafage.png) no-repeat;
    width: 858px;
    height: 126px;
    position: absolute;
    right: 0px;
    z-index: 20;
}

#hd .sunshine {
    background: url(../images/sunshine.png) no-repeat;
    width: 634px;
    height: 112px;
    position: absolute;
    left: -80px;
    z-index: 10;
}

#hd h1 {
    background: url(../images/h1.png) no-repeat;
    width: 415px;
    height: 61px;
    position: absolute;
    top: 20px;
    z-index: 8;
    text-indent: -9999em;
}

/* Projects item
 * --------------------------------------------------------------------- */

.projects-block ul, 
.projects-block ol, 
.projects-block li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects-block {
    margin-right: 20px;
}

.projects-block .block {
    margin-bottom: 20px;
}

.projects-block h2 {
    color: #666;
}

.projects-item li {
    border-bottom: 1px #ddd dashed;
    margin-bottom: 10px;
}

.projects-item li h3  {
    margin-bottom: 4px;
}

.projects-item li h3 a {
    display: inline-block;
    background: url(../images/icon-item.png) left no-repeat;
    padding-left: 32px;
}

/* Sidebar
 * --------------------------------------------------------------------- */

#sidebar h3 {
    color: #666;
    font-size: 140%;
}

#twitter_div {
    position: relative;
}

#twitter-link {
    background: url(../images/twitter-bird.png) no-repeat;
    width: 112px;
    height: 64px;
    position: absolute;
    right: -18px;
    top: -6px;
    text-indent: -9999em;
    outline: none;
    z-index: 100;
}

#twitter_update_list li {
    background: #F5F5F5;
    list-style-type: none;
    margin: 0;
    margin-bottom: 4px;
    padding: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#twitter_update_list li a {
    color: #EFA118;
}

/* Footer
 * --------------------------------------------------------------------- */
 
#footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

#footer address {
    float: left;
}

#footer .logo {
    float: right;
    display: inline-block;
    background: url(../images/logo-small.png) top no-repeat;
    width: 163px;
    height: 24px;
    text-indent: -9999em;
    outline: none;
}

#footer .logo:hover {
    background: url(../images/logo-small.png) bottom no-repeat;
}

